@using PRN232_Su25_Readify_WebAPI.Models
@using PRN232_Su25_Readify_Web.Dtos.Books
@model BookListViewModel
@{
    var selectedCateIds = Context.Request.Query["cateIds"].Select(int.Parse).ToList();
}
<div class="page-content bg-grey">
    <div class="content-inner-1 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    @*ShopFilter*@
                    <div class="shop-filter">
                        <div class="d-flex justify-content-between">
                            <h4 class="title">Filter Option</h4>

                        </div>
                        <form asp-controller="Books" asp-action="BookList" method="get">
                            <input type="hidden" name="page" value="@Model.PagedBooks.PageNumber" />
                            <input type="hidden" name="page" value="@Model.OrderBy" />
                            <input type="hidden" type="text" name="searchTitle" value="@(Context.Request.Query["searchTitle"])" />

                            <div class="accordion accordion-filter" id="accordionExample">
                                <div class="accordion-item">
                                    <button class="accordion-button" id="headingOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Shop by Category</button>
                                    <div id="collapseOne" class="accordion-collapse collapse show accordion-body" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="widget dz-widget_services d-flex justify-content-between">

                                            <div class="">
                                                @foreach (var cate in Model.Categories)
                                                {
                                                    <div class="form-check search-content">
                                                        <input class="form-check-input" type="checkbox"
                                                               value="@cate.Id" name="cateIds" id="productCheckBox-@cate.Id"
                                                        @(selectedCateIds.Contains(cate.Id) ? "checked" : "")>
                                                        <label class="form-check-label" for="productCheckBox-@cate.Id">
                                                            @cate.Name
                                                        </label>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row filter-buttons">
                                <div>
                                    <button type="submit" class="btn btn-secondary btnhover mt-4 d-block">Refine Search</button>
                                    <a asp-controller="Books" asp-action="BookList" class="btn btn-outline-secondary btnhover mt-3 d-block">Reset Filter</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="title">Books</h4>

                    </div>
                    @*ShopFilter*@
                    <div class="filter-area m-b30">
                        <div class="grid-area">
                        </div>
                        <form asp-controller="Books" asp-action="BookList" method="get">
                        <div class="category">                            
                                <div class="form-group d-flex align-items-center">
                                    <div class="form-check form-switch  dropdown  default-select btn  btn-light">
                                        <input class="form-check-input" style="margin-left: 0.5em;" type="checkbox" id="isFreeCheck" name="isFree"
                                               value="true" @(Model.IsFree ? "checked" : "") onchange="this.form.submit()">
                                        <label class="form-check-label ms-2" for="isFreeCheck">
                                            Free
                                        </label>
                                    </div>
                                </div>

                                @* Giữ cateIds *@
                                @if (selectedCateIds != null && selectedCateIds.Any())
                                {
                                    foreach (var cateId in selectedCateIds)
                                    {
                                        <input type="hidden" name="cateIds" value="@cateId" />
                                    }
                                }


                                @* Giữ page hiện tại *@
                                <input type="hidden" name="page" value="@Model.PagedBooks.PageNumber" />
                                @*Filter by UpdateDate*@
                                <div class="form-group">
                                    <i class="fas fa-sort-amount-down me-2 text-secondary"></i>
                                    <select class="default-select" name="orderBy" onchange="this.form.submit()">
                                        <option value="Desc" selected="@(Model.OrderBy == "Desc")">Newest</option>
                                        <option value="Asc" selected="@(Model.OrderBy == "Asc")">Oldest</option>
                                    </select>

                                </div>
                            
                        </div>
                        </form>
                    </div>
                    
                    @*Book list*@
                    <div class="row book-grid-row">
                        @if (!@Model.PagedBooks.Items.Any())
                        {
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="title">There is no Book!</h5>

                            </div>
                        }
                        else
                        {
                            @foreach (var book in Model.PagedBooks.Items)
                            {

                                <div class="col-book style-2">
                                    <div class="dz-shop-card style-1">
                                        <div class="dz-media">
                                            <a asp-controller="Books" asp-action="BookDetails" asp-route-bookId="@book.Id"
                                               style="text-decoration: none; color: inherit;">
                                                <img src="@book.ImageUrl" alt="book">
                                            </a>
                                        </div>
                                        <div class="bookmark-btn style-2">
                                            <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
                                            <label class="form-check-label" for="flexCheckDefault1">
                                                <i class="flaticon-heart"></i>
                                            </label>
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="title">
                                                <a asp-controller="Books" asp-action="BookDetails" asp-route-bookId="@book.Id"
                                                   style="text-decoration: none; color: inherit;">@book.Title</a>
                                            </h5>
                                            <ul class="dz-tags">
                                                @if (book.BookCategories != null && book.BookCategories.Any())
                                                {
                                                    foreach (var bc in book.BookCategories)
                                                    {
                                                        <li><a href="">@bc.Category.Name</a></li>

                                                    }
                                                }
                                                else
                                                {
                                                    <li><span>Chưa có danh mục</span></li>

                                                }
                                            </ul>
                                            <ul class="dz-rating">
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-muted"></i></li>
                                            </ul>
                                            <div class="book-footer">
                                                <div class="price">
                                                    @if (book.IsFree)
                                                    {
                                                        <span class="price-num">Miễn phí</span>
                                                        <del>@string.Format("{0:N0} đ", book.Price)</del>

                                                    }
                                                    else
                                                    {
                                                        <span class="price-num">@string.Format("{0:N0} đ", book.Price)</span>
                                                    }
                                                </div>
                                                <a href="shop-cart.html" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                    @*Paging*@

                    <div class="row page mt-0">
                        <div class="col-md-6">
                            <p class="page-text">
                                Showing @Model.PagedBooks.Items.Count from @Model.PagedBooks.TotalItems data
                            </p>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Book Pagination">
                                <ul class="pagination style-1 p-t20">

                                    @if (Model.PagedBooks.PageNumber > 1)
                                    {
                                        <li class="page-item">
                                            <form asp-controller="Books" asp-action="BookList" asp-route-page="@(Model.PagedBooks.PageNumber - 1)" method="get" class="d-inline">
                                                @foreach (var cateId in selectedCateIds)
                                                {
                                                    <input type="hidden" name="cateIds" value="@cateId" />
                                                }
                                                <input type="hidden" name="page" value="@Model.OrderBy" />
                                                <input type="hidden" type="text" name="searchTitle" value="@(Context.Request.Query["searchTitle"])" />


                                                <button type="submit" class="page-link prev">Prev</button>
                                            </form>
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PagedBooks.TotalPage; i++)
                                    {
                                        <li class="page-item">
                                            <form asp-controller="Books" asp-action="BookList" asp-route-page="@i" method="get" class="d-inline">
                                                @foreach (var cateId in selectedCateIds)
                                                {
                                                    <input type="hidden" name="cateIds" value="@cateId" />
                                                }
                                                <input type="hidden" name="page" value="@Model.OrderBy" />
                                                <input type="hidden" type="text" name="searchTitle" value="@(Context.Request.Query["searchTitle"])" />


                                                <button type="submit" class="page-link @(i == Model.PagedBooks.PageNumber ? "active" : "")">
                                                    @i
                                                </button>
                                            </form>
                                        </li>
                                    }

                                    @if (Model.PagedBooks.PageNumber < Model.PagedBooks.TotalPage)
                                    {
                                        <li class="page-item">

                                            <form asp-controller="Books" asp-action="BookList" asp-route-page="@(Model.PagedBooks.PageNumber + 1)" method="get" class="d-inline">
                                                <input type="hidden" type="text" name="searchTitle" value="@(Context.Request.Query["searchTitle"])" />


                                                <input type="hidden" name="page" value="@Model.OrderBy" />
                                                @foreach (var cateId in selectedCateIds)
                                                {
                                                    <input type="hidden" name="cateIds" value="@cateId" />
                                                }
                                                <button type="submit" class="page-link next">Next</button>
                                            </form>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Feature Box -->
        <section class="content-inner">
            <div class="container">
                <div class="row sp15">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-users icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">125,663</h2>
                                <p class="font-20">Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-book icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">50,672</h2>
                                <p class="font-20">Book Collections</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-store icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">1,562</h2>
                                <p class="font-20">Our Stores</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-leaf icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">457</h2>
                                <p class="font-20">Famous Writers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature Box End -->
        <!-- Newsletter -->
        <section class="py-5 newsletter-wrapper" style="background-image: url('images/background/bg1.jpg'); background-size: cover;">
            <div class="container">
                <div class="subscride-inner">
                    <div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
                        <div class="col-xl-7 col-lg-12">
                            <div class="section-head mb-0">
                                <h2 class="title text-white my-lg-3 mt-0">Subscribe our newsletter for newest books updates</h2>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <form class="dzSubscribe style-1" action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" method="post">
                                <div class="dzSubscribeMsg"></div>
                                <div class="form-group">
                                    <div class="input-group mb-0">
                                        <input name="dzEmail" required="required" type="email" class="form-control bg-transparent text-white" placeholder="Your Email Address">
                                        <div class="input-group-addon">
                                            <button name="submit" value="Submit" type="submit" class="btn btn-primary btnhover">
                                                <span>SUBSCRIBE</span>
                                                <i class="fa-solid fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Newsletter End -->

    </div>
